* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding: 5px 15px;
    background-color: black;
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    color: chocolate;
}