body {
    display: flex;
    background-color: #000;
    width: 100vh;
    height: auto;
    justify-content: center;
    align-items: center;
}

figure {
    display: block;
    margin-block-start: 15em;
    margin-block-end: 20em;
    margin-inline-start: 100px;
    margin-inline-end: 700px;
}

.skull {
    animation: skull 12s infinite;
}

figure img {
    width: 400px;
}

@keyframes skull {
    0% {
        opacity: 0%;
    }
    25% {
        opacity: 25%;
    }
    
    50% {
        opacity: 50%;
    }
    75% {
        opacity: 75%;
    }
    100% {
        transform: translateX(700px);
        opacity: 100%;
    }
}